.header {
  border-bottom: 1px solid lightgray;
  height: 50px;
  padding-top: 1rem;
}

.logo {
  cursor: default;
  font-size: 22px;
  padding-left: 4rem;
}

.nav-item{
  cursor: pointer;
}

.right-items {
  float: right;
}

.user-name {
  cursor: default;
  font-weight: 600;
}
